{extends file="admin-layout.tpl"}

{block name="check-resource"}admin.keyword{/block}
{block name="check-access"}update{/block}

{block name="page-title"}{intl l='Edit keyword' d='keyword'}{/block}

{block name="main-content"}
<div class="keyword edit-keyword">
    <div id="wrapper" class="container">
k={$keyword_id}
        {loop name="keyword_edit" type="keyword" visible="*" id="{$keyword_id}" backend_context="1" lang="$edit_language_id"}
        <ul class="breadcrumb">
            <li><a href="{url path='admin/home'}">{intl l="Home"}</a></li>
            <li><a href="{url path='admin/module/Keyword'}">{intl l="Keywords" d='keyword'}</a></li>
            {loop name="keyword_group" type="keyword_group" id="$KEYWORD_GROUP_ID"}
                <li><a title="{intl l='Browse this keyword' d='keyword'}" href="{url path='/admin/module/Keyword/group/view' keyword_group_id=$ID}">{$TITLE}</a></li>
            {/loop}
            <li class="active">{$TITLE}</li>
        </ul>

        <div class="row">

            <div class="col-md-12 general-block-decorator">
                <div class="row">
                    <div class="col-md-7 title">
                    {intl l='Edit keyword %title' title=$TITLE d='keyword'}
                    </div>

                    <div class="col-md-5 actions">

                        {if $HAS_PREVIOUS != 0}
                        <a href="{url path="/admin/module/Keyword/update?keyword_id=$PREVIOUS"}" class="btn btn-default" title="{intl l='Edit previous keyword' d='keyword'}"><span class="glyphicon glyphicon-arrow-left"></span></a>
                        {else}
                        <a href="#" disabled="disabled" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
                        {/if}

                        {if $HAS_NEXT != 0}
                        <a href="{url path="/admin/module/Keyword/update?keyword_id=$NEXT"}" class="btn btn-default" title="{intl l='Edit next keyword' d='keyword'}"><span class="glyphicon glyphicon-arrow-right"></span></a>
                        {else}
                        <a href="#" disabled="disabled" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></a>
                        {/if}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <ul class="nav nav-tabs" id="tabbed-menu">
                            <li class="active"><a href="#general" data-toggle="tab">{intl l="General description"}</a></li>
                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane fade active in" id="general">

                                <div class="form-container">

                                    {form name="keyword_admin_modification"}
                                        <form method="POST" action="{url path='/admin/module/Keyword/save'}" {form_enctype} class="clearfix">

                                        {include file="includes/inner-form-toolbar.html" close_url="{url path='/admin/module/Keyword/group/view' keyword_group_id=$KEYWORD_GROUP_ID}"}

                                        <div class="row">
                                            <div class="col-md-8">
                                                {* Be sure to get the keyword ID, even if the form could not be validated *}
                                                <input type="hidden" name="keyword_id" value="{$keyword_id}" />

                                                <input type="hidden" name="current_tab" value="general" />

                                                {form_hidden_fields}

                                                {render_form_field field='id' value=$ID}
                                                {render_form_field field='success_url' value={url path="/admin/module/Keyword/update{$ID}"}}
                                                {render_form_field field='locale' value=$edit_language_locale}

                                                {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}

                                                {render_form_field field='title' value=$TITLE}
                                                {render_form_field field="chapo" value=$CHAPO}
                                                {render_form_field field="description" value=$DESCRIPTION extra_class="wysiwyg"}
                                                {render_form_field field="postscriptum" value=$POSTSCRIPTUM}

                                                {render_form_field field='code' value=$CODE}
                                                {render_form_field field='visible' value=$VISIBLE}
                                            </div>
                                            <div class="col-md-4">
                                                {custom_render_form_field field='keyword_group_id'}
                                                    <select class="form-control" {form_field_attributes field="keyword_group_id"}>
                                                        {loop name="keyword.group" type="keyword_group"}
                                                            <option value="{$ID}" {if $KEYWORD_GROUP_ID == $ID}selected{/if}>{$TITLE}</option>
                                                        {/loop}
                                                    </select>
                                                {/custom_render_form_field}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="control-group">
                                                    <lablel>&nbsp;</lablel>
                                                    <div class="controls">
                                                        <p>{intl l='Keyword created on %date_create. Last modification: %date_change' date_create="{format_date date=$CREATE_DATE}" date_change="{format_date date=$UPDATE_DATE}" d='keyword'}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        </form>
                                    {/form}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
        {/loop}

    </div>
</div>
{/block}
