<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="keyword_content" class="Keyword\Loop\KeywordContent" />
        <loop name="keyword_folder" class="Keyword\Loop\KeywordFolder" />
        <loop name="keyword_category" class="Keyword\Loop\KeywordCategory" />
        <loop name="keyword_product" class="Keyword\Loop\KeywordProduct" />
        <loop name="keyword" class="Keyword\Loop\Keyword" />
        <loop name="keyword_group" class="Keyword\Loop\KeywordGroup" />
    </loops>

    <forms>
        <form name="keyword_admin_folder_modification" class="Keyword\Form\KeywordFolderModificationForm"/>
        <form name="keyword_admin_content_modification" class="Keyword\Form\KeywordContentModificationForm"/>
        <form name="keyword_admin_category_modification" class="Keyword\Form\KeywordCategoryModificationForm"/>
        <form name="keyword_admin_product_modification" class="Keyword\Form\KeywordProductModificationForm"/>

        <form name="keyword_group_admin_creation" class="Keyword\Form\KeywordGroupCreationForm"/>
        <form name="keyword_group_admin_modification" class="Keyword\Form\KeywordGroupModificationForm"/>

        <form name="keyword_admin_creation" class="Keyword\Form\KeywordCreationForm"/>
        <form name="keyword_admin_modification" class="Keyword\Form\KeywordModificationForm"/>
    </forms>

    <commands>
        <command class="Keyword\Commands\Update"/>
    </commands>
</config>
