<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>Keyword\Keyword</fullnamespace>
    <descriptive locale="fr_FR">
        <title>Mots clés</title>
    </descriptive>
    <descriptive locale="en_US">
        <title>Keyword</title>
    </descriptive>
    <version>2.4.7</version>
    <author>
        <name>Michaël Espeche</name>
        <email>mespeche@openstudio.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.1.0</thelia>
    <stability>prod</stability>
</module>
